{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "printWidth": 80,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "es5",
    "tabWdith": 2,
    "useTabs": false,
    "react/jsx-max-props-per-line": [
        1,
        {
            "when": "always"
        }
    ],
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2,
                "useTabs": false
            }
        }
    ]
}